/*-------------chessboard.scss------------------------------------------------------------*/

body {
    background-color:transparent;
}

.chessboard {
    display: grid;
    grid-template-columns: 800px minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: 800px;
    grid-template-areas: 'chessboard__field chessboard__history chessboard__controls';

    &__field {
        grid-area: chessboard__field;
        width: 800px;
        height: 800px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    &__square {
        width: 12.5%;
        height: 12.5%;
    }

    &__square_light {
        background-color: #aa6;
    }

    &__square_dark {
        background-color: #660;
    }

    &__square_selected {
        background-color: #3a3;
    }

    &__possible-moves {
        background-color: #6c6;
    }

    &__history {
        grid-area: chessboard__history;
    }

    &__controls {
        grid-area: chessboard__controls;
    }
}
